%h2 #{@person.name}
%br
- @person.try(:checkin_diffs).each_pair do |event, diffs|
  %table
    %th= event
    - diffs.each do |diff|
      - classname = diff.to_f > 0 ? 'positive' : 'negative'
      %tr
        %td{ class: classname } #{diff.to_f}
  %br

.actions
  %h3
    %a= link_to('< Back', :back, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
